{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Recherche de Troqueur"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}search search-troqueur{% endblock %}

{% block header %}
    {% set openSearchSelectorTroqueur = true %}
    {% set titreH1 = "Recherche de Troqueur"|trans %}
    {% set use_red_title = true %}
    {% set selectorWithLink = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="search-results-wrapper">
	<div class="wrapper">
		<div class="top">
                    <br><br><br><br>
			<div class="left sort">
				<div class="select-swagg">
					<select id="ClasserResultats" name="sort_by" class="sorter">
						<option value="" selected="selected">{{"Classer par ..."|trans}}</option>
						<option value="lastname">{{"A à Z"|trans}}</option>
						<option value="niveau">{{"Niveau"|trans}}</option>
						<option value="note">{{"Note"|trans}}</option>
					</select>
				</div>
			</div>
			<div id="panelInfoResultat" class="center {% if not withResults %}hidden{% endif %}">                            
                            <span class="red total-troqueur">{{troqueurs|length}}</span> {{"troqueur"|trans}}<span class="label-result-troqueur-plural">{% if troqueurs|length > 1 %}s{% endif %}</span>                            
			</div>
		</div>
                {% include "AppBundle:Recherche:listing_troqueur.html.twig" with {'troqueurs' : troqueurs} %}                
        </div>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            
            initialiseFromUrl();
            
            $(document).on('change','#ClasserResultats', function(){
               $('#FormSelectorSearchTroqueur #SearchTroqueur_filtrageTroqueur').val($(this).val());
               sendSearch();
            });
            
            $('#FormSelectorSearchTroqueur').on('submit', function(event){
               event.preventDefault();
               sendSearch();
               return false;
            });
            
            function sendSearch(){
                var form = $('#FormSelectorSearchTroqueur');             
                var url = form.attr('action').replace('/search', '/search/ajax');
                var target = "#listingResultat";
                var data = form.serialize();
                var modalId = "#myModal";
                ajaxRefreshHTMLResults(url, target, data, modalId);
                updateUrlSearch($('#FormSelectorSearchTroqueur'));
            }
        });
    </script>
{% endblock %}

