{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Recherche de Bouteille - {{ parent() }}{% endblock %}

{% block bodyclass %}search search-bottle{% endblock %}

{% block header %}
    {% set openSearchSelectorBouteille = true %}
    {% set titreH1 = "Recherche de Bouteille" %}
    {% set use_red_title = true %}
    {% set selectorWithLink = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="search-results-wrapper">
	<div class="wrapper">
		<div class="top">
                    <br><br><br><br>
			<div class="left sort">
				<div class="select-swagg">
					<select id="ClasserResultats" name="sort_by" class="sorter">
						<option value="" selected="selected">Classer par ...</option>
						<option value="millesime">Millesime</option>
						<option value="qte">Quantité (Décroissant)</option>
					</select>
				</div>
			</div>
			<div id="panelInfoResultat" class="center {% if not withResults %}hidden{% endif %}">
                            <span class="red">{{bouteilles|length}}</span> résultat<span class="label-result-plural">{% if bouteilles|length > 1 %}s{% endif %}</span>				                            
			</div>
		</div>
                {% include "AppBundle:Recherche:listing_bottle.html.twig" with {'withResults' : withResults, 'bouteilles' : bouteilles} %}
                {#{ render(controller('AppBundle:Recherche:listingBottle', { 'filtres' : filtres } )) }#}                
        </div>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change','#ClasserResultats', function(){
               $('#FormSelectorSearchBottle #SearchBouteille_filtrageBottle').val($(this).val());
               sendSearch();
            });
            
            $('#FormSelectorSearchBottle').on('submit', function(event){
               event.preventDefault();
               sendSearch();
               return false;
            });
            
            function sendSearch(){
                var form = $('#FormSelectorSearchBottle');                
                var url = form.attr('action').replace('/search', '/search/ajax');                
                var target = "#listingResultat";
                var data = form.serialize();
                var modalId = "#myModal";
                ajaxRefreshHTMLResults(url, target, data, modalId);
            }
        });
    </script>
{% endblock %}

