<header>
    <div class="site-wrapper">
        <div class="row txt12px">
            <div class="col-md-8"></div>
            <div class="col-md-4 navlink">
            {% if is_granted('ROLE_USER') %}
                <a href="{{path('front_mon_espace')}}" class="{{ app.request.attributes.get('_route') == 'front_mon_espace' ? 'active' }}">Ma Cave</a>
                <a href="{{path('logout')}}" class="">Déconnexion</a>
            {% else %}
                <a href="{{path('front_inscription')}}" class="{{ app.request.attributes.get('_route') == 'front_inscription' ? 'active' }}">Inscription</a>
                <a href="#" onClick="showLogin(); return false;" class="{{ app.request.attributes.get('_route') == 'login' ? 'active' }}">Connexion</a>
            {% endif %}
                <a href="{{path('front_mode_emploi')}}" class="{{ app.request.attributes.get('_route') == 'front_mode_emploi' ? 'active' }}">Mode d'emploi</a>            
            </div>
        </div>
    </div>
</header>
            
{# {% if app.request.attributes.get('_route') starts with 'book' %}active{% endif %} #}