{% extends 'AppBundle::layout.html.twig' %}

{% block bodyclass %}homepage{% endblock %}

{% block content %}
    {{ parent() }}
    
    <section class="wrapper home-wrapper">

	<section class="featured-wines">
		<h2 class="title">Troquez des vins d'exception</h2>
		<span class="subtitle">Échangez vos bouteilles de vins entre amateurs ou experts</span>

		<ul class="featured-wines-thumbnails">
			<li style="background-image: url('{{asset('img/bordeaux.jpg')}}');"><a href="#" title="Recherche bouteilles de Bordeaux"><span>Bordeaux</span></a></li>
			<li style="background-image: url('{{asset('img/bourgogne.jpg')}}');"><a href="#" title="Recherche bouteilles de Bourgogne"><span>Bourgogne</span></a></li>
			<li style="background-image: url('{{asset('img/champagne.jpg')}}');"><a href="#" title="Recherche bouteilles de Champagne"><span>Champagne</span></a></li>
			<li style="background-image: url('{{asset('img/autres-regions.jpg')}}');"><a href="#" title="Recherche bouteilles"><span>Autres Régions</span></a></li>
		</ul>

		<a href="#" class="btn-default">Tous les vins à l'échange</a>
	</section>

	<section class="monthly-pick">
		<h2 class="title">Notre séléction du mois</h2>
		<span class="subtitle">le meilleur de TrocWine</span>

		<ul class="monthly-pick-thumbnail">
			<li style="background-image: url('{{asset('img/pick-1.jpg')}}');">
				<a href="#">
					<div class="content">
						<h3 class="title">Au nouveau nez</h3>
						<p class="description">accueillie par Hélène
							Paris 12
						</p>
					</div>
				</a>
			</li>
			<li style="background-image: url('{{asset('img/pick-4.jpg')}}');">
				<a href="#">
					<div class="content">
						<h3 class="title">Moët & Chandon</h3>
						<p class="description"></p>
					</div>
				</a>
			</li>
			<li style="background-image: url('{{asset('img/pick-2.png')}}');">
				<a href="#">
					<div class="content">
						<h3 class="title">Lumière sur</h3>
						<p class="description">Jean Périgon</p>
					</div>
				</a>
			</li>
			<li style="background-image: url('{{asset('img/pick-3.jpg')}}');">
				<a href="#">
					<div class="content">
						<h3 class="title">Moulin à Vent</h3>
						<p class="description">Notre selection</p>
					</div>
				</a>
			</li>
		</ul>
	</section>
    </section>
    
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

