{% extends 'AppBundle::layout.html.twig' %}

{% block bodyclass %}homepage{% endblock %}

{% block content %}
    {{ parent() }}
    
    <section class="wrapper home-wrapper">

	<section class="featured-wines">
		<h2 class="title">{{ "Troquez des vins d'exception"|trans }}</h2>
		<span class="subtitle">{{ "Échangez vos bouteilles de vins entre amateurs ou experts"|trans }}</span>

		<ul class="featured-wines-thumbnails">
                    {% for mea in meas %}
                        <li style="background-image: url('{% if mea.photo != null %}{{asset(mea.photo.file|imagine_filter('homepage_mea'))}}{% else %}{{asset('uploads/mea/mea_default.png')}}{% endif %}');"><a href="{{path('front_search_bouteille_ref_region', {'reference':mea.referenceVin})}}" title="{% if app.session.get( '_locale' ) == 'en' %}Find wines from {{mea.nameUk}}{% else %}Recherche bouteilles de {{mea.nameFr}}{% endif %}"><span>{% if app.session.get( '_locale' ) == 'en' %}{{mea.nameUk}}{% else %}{{mea.nameFr}}{% endif %}</span></a></li>
                    {% endfor %}
		</ul>

		<a href="{{path('front_search_all_bouteille')}}" class="btn-default">{{ "Tous les vins à l'échange"|trans }}</a>
	</section>

	<section class="monthly-pick">
		<h2 class="title">{{ "Notre sélection du mois"|trans }}</h2>
		<span class="subtitle">{{ "Le meilleur de TrocWine"|trans }}</span>

		<ul class="monthly-pick-thumbnail">
                    {% for selection in selections %}
			<li style="background-image: url('{% if selection.photo != null %}{{asset(selection.photo.file|imagine_filter('homepage_selection_'~selection.position))}}{% else %}{{asset('uploads/selections/selection_default.png')}}{% endif %}');">
				<a href="{{ selection.lien }}" {% if 'http://' in selection.lien or 'https://' in selection.lien %}target="_blank"{% endif %}>
					<div class="content">
                                            {% if app.session.get( '_locale' ) == 'en' %}
                                                {% if selection.titreUk|length > 0 %}<h3 class="title">{{ selection.titreUk|nl2br }}</h3>{% endif %}
                                                {% if selection.sousTitreUk|length > 0 %}<p class="description">{{ selection.sousTitreUk|nl2br }}</p>{% endif %}
                                            {% else %}
                                                {% if selection.titreFr|length > 0 %}<h3 class="title">{{ selection.titreFr|nl2br }}</h3>{% endif %}
                                                {% if selection.sousTitreFr|length > 0 %}<p class="description">{{ selection.sousTitreFr|nl2br }}</p>{% endif %}
                                            {% endif %}						
					</div>
				</a>
			</li>
                    {% endfor %}
		</ul>
	</section>
    </section>
    
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if connexion is defined %}
                {% if connexion == true %}
                showLogin();
                {% endif %}
            {% endif %}
        });
    </script>
{% endblock %}

