{% extends 'AppBundle::layout.html.twig' %}

{% block bodyclass %}homepage{% endblock %}

{% block content %}
    {{ parent() }}
    
    <section class="wrapper home-wrapper">

	<section class="featured-wines">
		<h2 class="title">Troquez des vins d'exception</h2>
		<span class="subtitle">Échangez vos bouteilles de vins entre amateurs ou experts</span>

		<ul class="featured-wines-thumbnails">
			<li style="background-image: url('{{asset('img/bordeaux.jpg')}}');"><a href="{{path('front_search_bouteille_ref_region', {'reference':'bordeaux'})}}" title="Recherche bouteilles de Bordeaux"><span>Bordeaux</span></a></li>
			<li style="background-image: url('{{asset('img/bourgogne.jpg')}}');"><a href="{{path('front_search_bouteille_ref_region', {'reference':'bourgogne'})}}" title="Recherche bouteilles de Bourgogne"><span>Bourgogne</span></a></li>
			<li style="background-image: url('{{asset('img/champagne.jpg')}}');"><a href="{{path('front_search_bouteille_ref_region', {'reference':'champagne'})}}" title="Recherche bouteilles de Champagne"><span>Champagne</span></a></li>
			<li style="background-image: url('{{asset('img/autres-regions.jpg')}}');"><a href="{{path('front_search_bouteille_ref_region', {'reference':'others-regions'})}}" title="Recherche bouteilles autres régions"><span>Autres Régions</span></a></li>
		</ul>

		<a href="{{path('front_search_all_bouteille')}}" class="btn-default">Tous les vins à l'échange</a>
	</section>

	<section class="monthly-pick">
		<h2 class="title">Notre sélection du mois</h2>
		<span class="subtitle">Le meilleur de TrocWine</span>

		<ul class="monthly-pick-thumbnail">
			<li style="background-image: url('{{asset('img/pick-1.jpg')}}');">
				<a href="{{path('front_cave', {'id':22}) }}">
					<div class="content">
						<h3 class="title">L’équipe TrocWine<br>vous propose...</h3>
						<p class="description">Notre sélection rien que pour vous.</p>
					</div>
				</a>
			</li>
			<li style="background-image: url('{{asset('img/pick-5.jpg')}}');">
				<a href="http://vinexplore.com/fr/" target="_blank">
					<div class="content">
						<h3 class="title">Télécharger l'application Vinexplore</h3>
						<p class="description"></p>
					</div>
				</a>
			</li>
			<li style="background-image: url('{{asset('img/pick-6.jpg')}}');">
				<a href="{{path('front_cave', {'id':17}) }}">
					<div class="content">
						<h3 class="title">Le troqueur du mois</h3>
						<p class="description">Notre fondateur</p>
					</div>
				</a>
			</li>
			<li style="background-image: url('{{asset('img/pick-corton-grancey.jpg')}}');">
				<a href="{{path('front_bouteille_fiche', {'id':24}) }}">
					<div class="content">
						<h3 class="title">La « perle » du mois</h3>
						<p class="description"></p>
					</div>
				</a>
			</li>
		</ul>
	</section>
    </section>
    
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if connexion is defined %}
                    showLogin();
            {% endif %}
        });
    </script>
{% endblock %}

