<!DOCTYPE html>
<!--[if lt IE 7]><html lang="fr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="fr" class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html lang="fr" class="no-js lt-ie10 ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="fr" class="no-js"><![endif]-->
<!--[if !IE]><html lang="fr"><![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block head %}
            <title>{% block title %}TrocWine{% endblock %}</title>
        {% endblock %}
        
        <meta name="description" content="Constituez votre cave sans dépenser un centime.">
        <meta name="author" content="TrocWine">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}" />   
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css"/>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('js/vendor/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />  
            <link rel="stylesheet" href="{{ asset('css/custom-responsive.css') }}" />           
        {% endblock %}
        
        
        
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
        
        {% block topJavascripts %}            
        {% endblock %}
        
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
        
        {% block body %}{% endblock %}
        
        {% block bottomJavascripts %}
            
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="{{ asset('js/vendor/jquery-1.11.3.min.js') }}"></script>
            <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>            
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.2/tinysort.min.js"></script>
            <script src="{{ asset('js/plugins-front.js') }}"></script>
            <script src="{{ asset('js/vendor/fancybox/jquery.fancybox.pack.js') }}"></script>
            <script src="{{ asset('js/tools-front.js') }}"></script>
            <script src="{{ asset('js/main-front.js') }}"></script>
        {% endblock %}
    </body>
</html>
