{% extends "BackOfficeBundle::layout.html.twig" %}

{% block content %}

    {% include "BackOfficeBundle:Selection:_type_contenu.html.twig" %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Choisir une des sélections à éditer
                </div>
                <!-- /.panel-heading -->
                <div class="bloc-mea-wrapper">
                    <div class="bloc-mea bloc-mea-1"><span class="etiquette">{{select1.position}}</span><div class="mea-image mini mea-image-{{select1.position}}" style="background-image: url('{% if select1.photo != null %}{{asset(select1.photo.file)}}{% else %}{{asset('uploads/selections/selection_default.png')}}{% endif %}');"></div> <a class="btn btn-primary btn-edit btn-xs" href="{{path('back_office_selection_edit',{'id':select1.id})}}"><i class="fa fa-pencil fa-fw"></i> Edit</a></div>
                    <div class="bloc-mea bloc-mea-2"><span class="etiquette">{{select2.position}}</span><div class="mea-image mini mea-image-{{select2.position}}" style="background-image: url('{% if select2.photo != null %}{{asset(select2.photo.file)}}{% else %}{{asset('uploads/selections/selection_default.png')}}{% endif %}');"></div> <a class="btn btn-primary btn-edit btn-xs" href="{{path('back_office_selection_edit',{'id':select2.id})}}"><i class="fa fa-pencil fa-fw"></i> Edit</a></div>
                    <div class="bloc-mea bloc-mea-3"><span class="etiquette">{{select3.position}}</span><div class="mea-image mini mea-image-{{select3.position}}" style="background-image: url('{% if select3.photo != null %}{{asset(select3.photo.file)}}{% else %}{{asset('uploads/selections/selection_default.png')}}{% endif %}');"></div> <a class="btn btn-primary btn-edit btn-xs" href="{{path('back_office_selection_edit',{'id':select3.id})}}"><i class="fa fa-pencil fa-fw"></i> Edit</a></div>
                    <div class="bloc-mea bloc-mea-4"><span class="etiquette">{{select4.position}}</span><div class="mea-image mini mea-image-{{select4.position}}" style="background-image: url('{% if select4.photo != null %}{{asset(select4.photo.file)}}{% else %}{{asset('uploads/selections/selection_default.png')}}{% endif %}');"></div> <a class="btn btn-primary btn-edit btn-xs" href="{{path('back_office_selection_edit',{'id':select4.id})}}"><i class="fa fa-pencil fa-fw"></i> Edit</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}

    <script>
    $(document).ready(function() {
        
    });
    </script>
{% endblock %}