<article class="winethumb swap-context type-region-{{bouteille.typeDeVin.reference}}"
    data-millesime="{{bouteille.millesime}}"
    data-qte="{{bouteille.quantite}}"
    data-order="{{bouteille.id}}">
        <div class="winethumb-header">
                <div class="select-swagg">
                    {% if is_granted('ROLE_USER') %}
                    <select id="select-qte-for-{{bouteille.id}}" name="qte" class="qte-select qte-for-{{bouteille.id}}" data-select="qte-for-{{bouteille.id}}">
                        <option value="" selected="selected">{{"Quantité"|trans}}</option>
                        {% for i in range(1,bouteille.quantite) %}
                                <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
        </div>
        <div class="inner-winethumb">
                <div class="checkbox-container">
                    {% if is_granted('ROLE_USER') %}
                        <input id="checkbox-qte-for-{{bouteille.id}}" type="checkbox" class="big-checkbox" name="selection" value="{{bouteille.id}}" data-select="qte-for-{{bouteille.id}}"/>
                    {% endif %}
                </div>
                <a href="{{path('front_bouteille_fiche_simple', {'id':bouteille.id})}}" title="{{"Voir la Fiche"|trans}}">
                <div class="image" style="background-image: url('{% if bouteille.photo != null %}{{asset(bouteille.photo.file)|imagine_filter('bouteille_resize_cave')}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}');"></div>
                </a>
                <div class="description">
                    <div class="description-inner-wrap">
                        <span class="dot-qte">{{bouteille.quantite}}</span>
                        {% if app.session.get( '_locale' ) == 'en' %}
                            <h3>{{bouteille.typeDomaine.nameUk|default('')}} {{bouteille.typeAppellation.nameUk|default('')}}<br>{{bouteille.typeCuvee.nameUk|default('')}}</h3>
                            <p>{{bouteille.typeRegion.nameUk|default('')}} {{bouteille.typePays.nameUk|default('')}} {{bouteille.millesime|default('')|filtre_millesime}}</p>
                        {% else %}
                            <h3>{{bouteille.typeDomaine.nameFr|default('')}} {{bouteille.typeAppellation.nameFr|default('')}}<br>{{bouteille.typeCuvee.nameFr|default('')}}</h3>
                            <p>{{bouteille.typeRegion.nameFr|default('')}} {{bouteille.typePays.nameFr|default('')}} {{bouteille.millesime|default('')|filtre_millesime}}</p>
                        {% endif %}
                    </div> 
                </div>
        </div>
</article>