<article class="winethumb winethumb-with-owner type-region-{{bouteille.typeDeVin.reference}}"
        data-millesime="{{bouteille.millesime}}"
        data-qte="{{bouteille.quantite}}"
        data-order="{{bouteille.id}}">
        <a href="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" title="{{"Voir la Fiche"|trans}}">
        <div class="image" style="background-image: url('{% if bouteille.photo != null %}{{asset(bouteille.photo.file)|imagine_filter('bouteille_resize_cave')}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}');">
               <span class="dot-qte">{{bouteille.quantite}}</span>
       </div>
        </a>
       <div class="description">
                <div class="owner-container">
                    <div class="image-container" style="background-image: url('{% if bouteille.member.avatar != null %}{{asset(bouteille.member.avatar.file)|imagine_filter('avatar_resize_mini')}}{% else %}{{asset('uploads/avatars/avatar_default.jpg')}}{% endif %}');"></div>
                    <p class="info-owner">{{bouteille.member.lastname}}<br>{{bouteille.member.firstname}}</p>
                </div>
            {% if app.session.get( '_locale' ) == 'en' %}
               <h3>{{bouteille.typeDomaine.nameUk|default('')}}</h3>
               <h3>{{bouteille.typeAppellation.nameUk|default('')}}</h3>
               <h3>{{bouteille.typeCuvee.nameUk|default('')}}</h3>

               <p>{{bouteille.typeRegion.nameUk|default('')}}<br>{{bouteille.typePays.nameUk|default('')}}<br>{{bouteille.millesime|filtre_millesime}}</p>               
            {% else %}
               <h3>{{bouteille.typeDomaine.nameFr|default('')}}</h3>
               <h3>{{bouteille.typeAppellation.nameFr|default('')}}</h3>
               <h3>{{bouteille.typeCuvee.nameFr|default('')}}</h3>

               <p>{{bouteille.typeRegion.nameFr|default('')}}<br>{{bouteille.typePays.nameFr|default('')}}<br>{{bouteille.millesime|filtre_millesime}}</p>               
            {% endif %}
       </div>
       <div class="social-btns">
           {#
               <a href="https://twitter.com/share" data-url="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" class="twitter-share-button" data-count="none">Tweet</a>
               <div class="fb-share-button" data-href="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" data-layout="button"></div>
            #}
       </div>
       <div class="clearfix"></div>
</article>
