{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Fiche bouteille n°"|trans}} {{ bouteille.id }} - {{ parent() }}{% endblock %}

{% block bodyclass %}fiche-bouteille{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% set bottle_owner = true %}    
    {% set titreH1 = "Fiche bouteille n°"|trans~bouteille.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}  
    <section class="bottle-page-wrapper">
	<section class="bottle-info-wrapper">
		<div class="wrapper">
                        {% if is_granted('ROLE_USER') %}
			<div class="qte-select-mobile desktop-hide">
				<div class="qte-level">
					<div class="select-swagg">
						<select id="select-mobile-qte-for-{{bouteille.id}}" name="qte" class="qte-select qte-for-{{bouteille.id}}" data-select="mobile-qte-for-{{bouteille.id}}">
							<option value="" selected="selected">{{"Quantité"|trans}}</option>
							{% for i in range(1,bouteille.quantite) %}
								<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="select-bottle">
					<label><input id="checkbox-mobile-qte-for-{{bouteille.id}}" type="checkbox" class="big-checkbox" name="selection" value="{{bouteille.id}}" data-select="mobile-qte-for-{{bouteille.id}}"/> {{"Sélectionner"|trans}}</label>
				</div>
			</div>
                        {% endif %}
			<div class="image-container">
				<div class="upload-image-container">
					<div data-imagezoom="{% if bouteille.photo != null %}{{asset(bouteille.photo.file)}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}" class="wine-image" style="background-image: url('{% if bouteille.photo != null %}{{asset(bouteille.photo.file)|imagine_filter('bouteille_resize_fiche')}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}');">
						<span class="dot-qte">{{bouteille.quantite}}</span>
					</div>
				</div>
				<div class="rating">
					<span class="text">{{"Sa note"|trans}}</span>
					<span class="icon-bottle-rate-container icon-rate" id="ratingBottle">
                                            {% for i in range(1,5) %}
                                                {% if i <= bouteille.note %}
                                                        <i class="icon-bottle-static full-bottle"></i>
                                                {% else %}
                                                        <i class="icon-bottle-static"></i>
                                                {% endif %}
                                            {% endfor %}
					</span>
				</div>
                                <div class="social-btns">
                                        <a href="https://twitter.com/share" data-url="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" class="twitter-share-button" data-count="none">Tweet</a>
                                        <div class="fb-share-button" data-href="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" data-layout="button"></div>
                                </div>
			</div>
			<div class="bottle-info">
				<div class="title">
                                    {% if app.session.get( '_locale' ) == 'en' %}
                                        <h2>{{bouteille.typeDomaine.nameUk|default('')}} {{bouteille.typeAppellation.nameUk|default('')}}<br>{{bouteille.typeCuvee.nameUk|default('')}}</h2>					
					<span>{{bouteille.typeRegion.nameUk|default('')}}</span>
					<span>{{bouteille.typePays.nameUk|default('')}}</span>
					<span>{{bouteille.millesime|default('')|filtre_millesime}}</span>
                                    {% else %}
                                        <h2>{{bouteille.typeDomaine.nameFr|default('')}} {{bouteille.typeAppellation.nameFr|default('')}}<br>{{bouteille.typeCuvee.nameFr|default('')}}</h2>					
					<span>{{bouteille.typeRegion.nameFr|default('')}}</span>
					<span>{{bouteille.typePays.nameFr|default('')}}</span>
					<span>{{bouteille.millesime|default('')|filtre_millesime}}</span>
                                    {% endif %}
				</div>

				<div class="info">
					<p>
                                            {% if app.session.get( '_locale' ) == 'en' %}
                                                <b>{{bouteille.quantite}} {{"bouteille"|trans}}{% if bouteille.quantite > 1 %}s{% endif %},</b>{% if bouteille.typeContenance is defined %} {{ bouteille.typeContenance.nameUk }},{% endif %}
						{{"conservée"|trans}} in {{bouteille.typeDeCave.nameUk}}
                                            {% else %}
                                                <b>{{bouteille.quantite}} {{"bouteille"|trans}}{% if bouteille.quantite > 1 %}s{% endif %},</b>{% if bouteille.typeContenance is defined %} {{ bouteille.typeContenance.nameFr }},{% endif %}
						{{"conservée"|trans}}{% if bouteille.quantite > 1 %}s{% endif %} en {{bouteille.typeDeCave.nameFr}}
                                            {% endif %}						
					</p>

					<p>{{bouteille.commentaire}}</p>

					<div class="star-container">
						<span class="text">{{"Note moyenne"|trans}}</span>
                                                <span class="icon-bottle-rate-container icon-rate" id="ratingBottleMoyenne">
                                                {% for i in range(1,5) %}
                                                    {% if i <= noteMoyenne %}
                                                            <i class="icon-bottle-static full-bottle"></i>
                                                    {% else %}
                                                            <i class="icon-bottle-static"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                </span>
					</div>
				</div>
			</div>
                        
			<div class="">
				<div class="qte-level">
                                        {% if is_granted('ROLE_USER') %}
					<div class="select-swagg mobile-hide">
						<select id="select-qte-for-{{bouteille.id}}" name="qte" class="qte-select qte-for-{{bouteille.id}}" data-select="qte-for-{{bouteille.id}}">
							<option value="" selected="selected">{{"Quantité"|trans}}</option>
							{% for i in range(1,bouteille.quantite) %}
								<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
					</div>
                                               
                                        <div class="select-bottle mobile-hide">
                                                <label><input id="checkbox-qte-for-{{bouteille.id}}" type="checkbox" class="big-checkbox" name="selection" value="{{bouteille.id}}" data-select="qte-for-{{bouteille.id}}"/> {{"Sélectionner"|trans}}</label>
                                        </div> 
                                        {% endif %}
					<div class="level-container">
						<!-- Pour remplir la bouteille, utilisez style="top: xx%;" sur .the-fullness -->
						<div class="level-bottle">
							<div class="the-shape"></div>
							<div class="the-emptyness"></div>
							<div class="the-fullness" style="top:{{100 - bouteille.niveau}}%"></div>
						</div>
						<h4>{{"Niveau"|trans}} : 
                                                    {% if bouteille.niveau >= 80 %}{{"Normal"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 77 %}{{"Bas goulot"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 75 %}{{"Très légèrement bas"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 72 %}{{"Légèrement bas"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 70 %}{{"Haute épaule"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 65 %}{{"Mi-épaule"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 60 %}{{"Bas"|trans}}{% endif %}
                                                </h4>
					</div>
				</div>
			</div>
		</div>
	</section>
        {% if bouteilles|length > 0 %}
	<section class="in-his-cave wrapper">
		<h3 class="page-title">{{"Aussi dans sa cave"|trans}}</h3>
		<div class="winethumb-container">
			{% for item in bouteilles %}
                            {% include 'AppBundle:Bouteille:_blocOtherBouteilleWithTroqueur.html.twig' with {'bouteille' : item} %}
                        {% endfor %}
		</div>
	</section>
        {% endif %}
        {#
	<section class="they-got-it-wrapper">
		<div class="wrapper">
			<h3 class="page-title">Ils possèdent cette bouteille</h3>
			<article>
				<a href="#profile-guy">
					<span class="image-container" style="background-image: url('img/demo-face.png');">
						<span class="dot-qte">4</span>
					</span>
				</a>
			</article>
		</div>
	</section>
        #}
</section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('select.qte-select').on('change', function(event){
                var dataSelect = $(this).attr('data-select');
                if($(this).val() > 0){
                   $('#checkbox-'+dataSelect).prop( "checked", true );
                   //$('#checkbox-mobile-'+dataSelect).prop( "checked", true ); 
                } else {
                   $('#checkbox-'+dataSelect).prop( "checked", false );
                   //$('#checkbox-mobile-'+dataSelect).prop( "checked", false );
                } 
            });
             $('.big-checkbox').on('change', function(event){
                var dataSelect = $(this).attr('data-select');
                if($(this).prop( "checked")){
                   if($('#select-'+dataSelect).val() < 1){
                        alert("{{"Vous devez indiquer une quantité."|trans}}");
                        $(this).prop( "checked", false );
                   }
                } 
            });
            
            $('#btTroquerSelection').on('click', function(event){
                event.preventDefault();
                var toutEstOk = true;
                var listeSelection = new Array();
                // pour chaque selection cochée, si quantité non choisie alors affiche erreur
                $('.big-checkbox').each(function(){
                    var dataSelect = $(this).attr('data-select');
                    if($(this).prop( "checked")){
                       if($('#select-'+dataSelect).val() < 1){
                            alert("{{"Vous devez indiquer une quantité."|trans}}");
                            $(this).prop( "checked", false );
                            toutEstOk = false;
                       }else{
                           listeSelection.push({'id':$(this).val(),'qte':$('#select-'+dataSelect).val()});
                       }
                    }
                });
                
                if(toutEstOk){
                    $('#TroquerSelectionChoix').val(JSON.stringify(listeSelection));
                    $('#FormSelectionChoix').submit();            
                }
            });
        });
    </script>
    
{% endblock %}

