{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Fiche bouteille n°"|trans}} {{ bouteille.id }} - {{ parent() }}{% endblock %}

{% block bodyclass %}fiche-bouteille{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% set bottle_owner = true %}    
    {% set withoutTrocAction = true %}
    {% set titreH1 = "Fiche bouteille n°"|trans~bouteille.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}  
    <section class="bottle-page-wrapper">
	<section class="bottle-info-wrapper">
		<div class="wrapper">
			<div class="image-container">
				<div class="upload-image-container">
					<div data-imagezoom="{% if bouteille.photo != null %}{{asset(bouteille.photo.file)}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}" class="wine-image" style="background-image: url('{% if bouteille.photo != null %}{{asset(bouteille.photo.file)|imagine_filter('bouteille_resize_fiche')}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}');">
						<span class="dot-qte">{{bouteille.quantite}}</span>
					</div>
				</div>
				<div class="rating">
					<span class="text">{{"Ma note"|trans}}</span>
					<span class="icon-bottle-rate-container icon-rate" id="ratingBottle">
					    {% for i in range(1,5) %}
                                                {% if i <= bouteille.note %}
                                                        <i class="icon-bottle-static full-bottle"></i>
                                                {% else %}
                                                        <i class="icon-bottle-static"></i>
                                                {% endif %}
                                            {% endfor %}
					</span>
				</div>
                                <div class="social-btns">
                                        <a href="https://twitter.com/share" data-url="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" class="twitter-share-button" data-count="none">Tweet</a>
                                        <div class="fb-share-button" data-href="{{path('front_bouteille_fiche', {'id':bouteille.id})}}" data-layout="button"></div>
                                </div>
			</div>
			<div class="bottle-info">
				<div class="title">
                                    {% if app.session.get( '_locale' ) == 'en' %}
                                        <h2>{{bouteille.typeDomaine.nameUk|default('')}} {{bouteille.typeAppellation.nameUk|default('')}}<br>{{bouteille.typeCuvee.nameUk|default('')}}</h2>					
					<span>{{bouteille.typeRegion.nameUk|default('')}}</span>
					<span>{{bouteille.typePays.nameUk|default('')}}</span>
					<span>{{bouteille.millesime|default('')|filtre_millesime}}</span>
                                    {% else %}
                                        <h2>{{bouteille.typeDomaine.nameFr|default('')}} {{bouteille.typeAppellation.nameFr|default('')}}<br>{{bouteille.typeCuvee.nameFr|default('')}}</h2>					
					<span>{{bouteille.typeRegion.nameFr|default('')}}</span>
					<span>{{bouteille.typePays.nameFr|default('')}}</span>
					<span>{{bouteille.millesime|default('')|filtre_millesime}}</span>
                                    {% endif %}
				</div>

				<div class="info">
					<p>
						{% if app.session.get( '_locale' ) == 'en' %}
                                                <b>{{bouteille.quantite}} {{"bouteille"|trans}}{% if bouteille.quantite > 1 %}s{% endif %},</b>{% if bouteille.typeContenance is defined %} {{ bouteille.typeContenance.nameUk }},{% endif %}
						{{"conservée"|trans}} in {{bouteille.typeDeCave.nameUk}}
                                            {% else %}
                                                <b>{{bouteille.quantite}} {{"bouteille"|trans}}{% if bouteille.quantite > 1 %}s{% endif %},</b>{% if bouteille.typeContenance is defined %} {{ bouteille.typeContenance.nameFr }},{% endif %}
						{{"conservée"|trans}}{% if bouteille.quantite > 1 %}s{% endif %} en {{bouteille.typeDeCave.nameFr}}
                                            {% endif %}
					</p>

					<p>{{bouteille.commentaire}}</p>

					<div class="star-container">
						<span class="text">{{"Note moyenne"|trans}}</span>
                                                <span class="icon-bottle-rate-container icon-rate" id="ratingBottleMoyenne">
                                                {% for i in range(1,5) %}
                                                    {% if i <= noteMoyenne %}
                                                            <i class="icon-bottle-static full-bottle"></i>
                                                    {% else %}
                                                            <i class="icon-bottle-static"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                </span>
					</div>
				</div>
			</div>
                        {% if is_granted('ROLE_USER') %}
			<div class="mobile-hide">
				<div class="qte-level">
					<div class="level-container">
						<!-- Pour remplir la bouteille, utilisez style="top: xx%;" sur .the-fullness -->
						<div class="level-bottle">
							<div class="the-shape"></div>
							<div class="the-emptyness"></div>
							<div class="the-fullness" style="top:{{100 - bouteille.niveau}}%"></div>
						</div>
						<h4>{{"Niveau"|trans}} : 
                                                    {% if bouteille.niveau >= 80 %}{{"Normal"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 77 %}{{"Bas goulot"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 75 %}{{"Très légèrement bas"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 72 %}{{"Légèrement bas"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 70 %}{{"Haute épaule"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 65 %}{{"Mi-épaule"|trans}}{% endif %}
                                                    {% if bouteille.niveau == 60 %}{{"Bas"|trans}}{% endif %}
                                                </h4>
					</div>
				</div>
			</div>
                        {% endif %}
		</div>
	</section>
</section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {
                        
        });
    </script>
    
{% endblock %}

