<article class="winethumb winethumb-with-owner"
        data-lastname="{{troqueur.lastname}}"
        data-qte="">
        <a href="{{path('front_cave', {'id':troqueur.id}) }}" title="Voir la cave">
        <div class="image" style="background-image: url('{% if troqueur.avatar != null %}{{asset(troqueur.avatar.file)}}{% else %}{{asset('uploads/avatars/avatar_default.jpg')}}{% endif %}');">
            <div class="bouteilles-cave"><span class="dot-qte">{{troqueur.totalBouteillesCave}}</span> {{"bouteille"|trans}}{% if troqueur.totalBouteillesCave > 1 %}s{% endif %}</div>
        </div>
       <div class="description">
                <div class="owner-container">                   
                    <p class="info-owner">{{troqueur.lastname}}<br>{{troqueur.firstname}}
                        <span class="owner-level">{% if app.session.get( '_locale' ) == 'en' %}{{troqueur.expertLevel.nameUk}}{% else %}{{troqueur.expertLevel.nameFr}}{% endif %}</span>
                        <div class="star-container">
                                {% for i in range(1,5) %}
                                        {% if i <= troqueur.noteMoyenne %}
                                                <i class="icon-star-static full-star"></i>
                                        {% else %}
                                                <i class="icon-star-static"></i>
                                        {% endif %}
                                {% endfor %}
                        </div>
                    </p>
                </div>
       </div>
        </a>
       {#<div class="social-btns">
               <a href="https://twitter.com/share" data-url="{{path('front_cave', {'id':troqueur.id}) }}" class="twitter-share-button" data-count="none">Tweet</a>
               <div class="fb-share-button" data-href="{{path('front_cave', {'id':troqueur.id}) }}" data-layout="button"></div>
       </div>#}
       <div class="clearfix"></div>
</article>
