{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Modifier une bouteille - {{ parent() }}{% endblock %}

{% block bodyclass %}ma-cave editer-bouteille{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% set titreH1 = "Modifier une bouteille" %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% form_theme form with ['AppBundle::form_theme.html.twig', _self] %}

{% block content %}
    {{ parent() }}
    <section class="add-bottle-wrapper">
	<section class="add-bottle-form">
            {{ form_start(form, {'attr': {'class': 'form-inline', 'id': 'FormEditBouteille'} }) }}
                    <div class="wrapper">
                            <div class="image-container">
                                    <div class="upload-image-container">
                                            <div class="wine-image" style="background-image: url('{% if entity.photo != null %}{{asset(entity.photo.file)}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}');">
                                                    <a href="#" class="btn-modify upload-btn">Modifier</a>
                                            </div>
                                            <div class="input-hidden">
                                                    <input type="file" name="photo_image" id="file_picker" data-class-dest="wine-image"/>
                                                    {{ form_widget(form.photo, { 'label': false,'class': 'hidden', 'attr': {'class': 'hidden'} }) }}
                                            </div>
                                    </div>
                                    <label class="bte-origine-label desktop-hide">
                                            <input type="checkbox" name="bte-origine" class="big-checkbox"/>
                                            Dans sa boite d'origine
                                    </label>
                                    <div class="rating">
                                            <span class="text">Ma note</span>

                                            <span class="icon-bottle-rate-container icon-rate" id="ratingBottle">
                                                <input type="radio" id="rating-input-1-5" name="personnal-rating" value="5" {% if entity.note == 5 %}checked="checked"{% endif %}>
                                                <label for="rating-input-1-5"></label>
                                                <input type="radio" id="rating-input-1-4" name="personnal-rating" value="4" {% if entity.note == 4 %}checked="checked"{% endif %}>
                                                <label for="rating-input-1-4"></label>
                                                <input type="radio" id="rating-input-1-3" name="personnal-rating" value="3" {% if entity.note == 3 %}checked="checked"{% endif %}>
                                                <label for="rating-input-1-3"></label>
                                                <input type="radio" id="rating-input-1-2" name="personnal-rating" value="2" {% if entity.note == 2 %}checked="checked"{% endif %}>
                                                <label for="rating-input-1-2"></label>
                                                <input type="radio" id="rating-input-1-1" name="personnal-rating" value="1" {% if entity.note == 1 %}checked="checked"{% endif %}>
                                                <label for="rating-input-1-1"></label>
                                            </span>
                                    </div>
                            </div>
                            <div class="data-container">
                                    <div class="span-left">
                                            <div class="form-top type-qte">
                                                    <div class="select-swagg type">
                                                            {{ form_widget(form.typeDeVin, { 'label': false,'class': '', 'attr': {'class': ' '} }) }}
                                                    </div>
                                                    <div class="select-swagg qte">
                                                            {{ form_widget(form.quantite, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                                    </div>
                                            </div>

                                            <div class="data-add-aside data-domaine">
                                                    <div class="select-swagg domaine">
                                                            {{ form_widget(form.typeDomaine, { 'label': false,'class': '', 'attr': {'class': ''} }) }}                  
                                                    </div>
                                                    <a href="#add_domaine" id="EditBouteilleType_add_domaine" class="btn-default add" data-url="{{path('front_domaine_add')}}">Ajouter</a>
                                            </div>
                                            <div class="data-add-aside data-appelation">
                                                    <div class="select-swagg appelation">
                                                            {{ form_widget(form.typeAppellation, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                                    </div>
                                                    <a href="#add_appellation" id="EditBouteilleType_add_appellation" class="btn-default add" data-url="{{path('front_appellation_add')}}">Ajouter</a>
                                            </div>
                                            <div class="data-add-aside data-cuvee">
                                                    <div class="select-swagg cuvee">
                                                            {{ form_widget(form.typeCuvee, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                                    </div>
                                                    <a href="#add_cuvee" id="EditBouteilleType_add_cuvee" class="btn-default add" data-url="{{path('front_cuvee_add')}}">Ajouter</a>
                                            </div>
                                            <div class="data-add-aside data-region">
                                                    <div class="select-swagg qte">
                                                            {{ form_widget(form.typeRegion, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                                    </div>
                                                    <a href="#add_region" id="EditBouteilleType_add_region" class="btn-default add" data-url="{{path('front_region_add')}}">Ajouter</a>
                                            </div>
                                            <div class="data-add-aside data-pays">
                                                <div class="select-swagg pays">
                                                        {{ form_widget(form.typePays, { 'label': false,'class': '', 'attr': {'class': ''} }) }}                                                                                                
                                                </div>
                                                <a href="#add_pays" id="EditBouteilleType_add_pays" class="btn-default add" data-url="{{path('front_pays_add')}}">Ajouter</a>
                                            </div>
                                    </div>
                                    <div class="span-right">
                                            <div class="form-top">
                                                    <label class="mobile-hide">
                                                        {{ form_row(form.boiteOrigine, {'label': false, 'class': '', 'attr': {'class': 'big-checkbox'} }) }}                                                             
                                                            Dans sa boite d'origine
                                                    </label>
                                            </div>
                                            <div class="select-swagg millesime">
                                                    {{ form_widget(form.millesime, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                            </div>
                                            <div class="select-swagg apogee">
                                                    {{ form_widget(form.apogee, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                            </div>
                                            <div class="select-swagg contenance">
                                                    {{ form_widget(form.typeContenance, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                            </div>
                                            <div class="select-swagg type-de-cave">
                                                    {{ form_widget(form.typeDeCave, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                            </div>
                                    </div>
                                    <div class="clearfix"></div>       
                                    <div class="data-commentaire">
                                            <label>(<span id="count_content_message" data-maxchar="255">255</span> caractères max)</label>
                                            {{ form_widget(form.commentaire, {'label': false,'class': '', 'attr': {'class': '', 'maxlength':'255'} }) }}
                                    </div>
                            </div>
                            <div class="level-container">
                                    <h4>Niveau</h4>
                                    <!-- Pour remplir la bouteille, utilisez style="top: xx%;" sur .the-fullness -->
                                    <div class="level-bottle mobile-hide">
                                            <div class="the-shape"></div>
                                            <div class="the-emptyness"></div>
                                            <div class="the-fullness"></div>
                                    </div>
                                    {{ form_widget(form.niveau, {'class': '', 'attr': {'class': ''} }) }}
                                    <!--
                                    <button class="btn-default upload-btn">Ajouter une photo</button>-->
                                    {{ form_widget(form.photoNiveau, { 'label': false,'class': 'hidden', 'attr': {'class': 'hidden'} }) }}
                            </div>
                    </div>

                    <button id="ModifierBouteille" class="submit-btn btn-default">Valider</button> <a href="{{path('front_ma_cave_supprimer', {'id':entity.id}) }}" onClick="return confirmSuppression();" class="btn-default btn-delete">Supprimer</a>
                    <br>
                {{ form_row(form.submit, {'class': 'hidden', 'attr': {'class': 'hidden'} }) }}
                {{ form_row(form.note, {'class': 'hidden', 'attr': {'class': ''} }) }} 
                {#{ form_row(form.niveau, {'class': 'hidden', 'attr': {'class': ''} }) }#} 
            {{ form_end(form) }}
	</section>
    </section>
    
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        
        $(document).ready(function () {
            
            $(document).on('load change keyup', '#EditBouteilleType_commentaire', function () {
                var len = $(this).val().length;
                $('#count_content_message').html($('#count_content_message').data('maxchar') - len);
            });        
            var len = $('#EditBouteilleType_commentaire').val().length;
            $('#count_content_message').html($('#count_content_message').data('maxchar') - len);
            
            $('#FormEditBouteille').on('submit', function(){
                var selectedVal = 0;
                var selected = $("#ratingBottle input[type='radio']:checked");
                if (selected.length > 0) {
                    selectedVal = selected.val();
                }
                $('#EditBouteilleType_note').val(selectedVal);
                
                /*
                var total = parseInt($('.level-bottle .the-shape').height());
                var pourcentage = parseInt($('.level-bottle .the-fullness').css('top')) * 100 / total;
                pourcentage = Math.round(pourcentage/10)*10;
                pourcentage = 100 - pourcentage;
                $('#EditBouteilleType_niveau').val(pourcentage);*/
                /*var isOk = true;
                $('input[type=file][max-size]').each(function(){
                    if(typeof this.files[0] !== 'undefined'){
                        var maxSize = parseInt($(this).attr('max-size'),10),
                        size = this.files[0].fileSize;
                        isOk = maxSize > size;
                        
                        if(!isOk){
                            alert('Votre image est trop grosse. Elle doit faire moins de 2Mo');
                        }
                        
                        return isOk;
                    }
                });
                return isOk;
                */
            });
            
            $('#EditBouteilleType_niveau').on('change', function(event){
                $('.level-bottle .the-fullness').css('top', (100 - $(this).val())+'%');
            });
            $('#EditBouteilleType_niveau').trigger('change');
            
            $('#EditBouteilleType_add_domaine').on('click',function(event){
                event.preventDefault();
                url = $(this).attr('data-url'); 
                title = 'Ajouter <strong>un type de domaine</strong>';
                openModalAddEntity(url, title);
            });
            
            $('#EditBouteilleType_add_appellation').on('click',function(){
                url = $(this).attr('data-url'); 
                title = 'Ajouter <strong>un type d\'appellation</strong>';
                openModalAddEntity(url, title);
            });
            
            $('#EditBouteilleType_add_cuvee').on('click',function(){
                url = $(this).attr('data-url'); 
                title = 'Ajouter <strong>un type de cuvée</strong>';
                openModalAddEntity(url, title);
            });
            
            $('#EditBouteilleType_add_region').on('click',function(){
                url = $(this).attr('data-url'); 
                title = 'Ajouter <strong>un type de région</strong>';
                openModalAddEntity(url, title);
            });
            
            $('#EditBouteilleType_add_pays').on('click',function(){
                url = $(this).attr('data-url'); 
                title = 'Ajouter <strong>un type de pays</strong>';
                openModalAddEntity(url, title);
            });
            
            
            function openModalAddEntity(url, title){
                $.ajax({
                    type : 'POST',
                    url : url,
                    data : null,
                    timeout : 60000,
                    success : function(htmlResponse) {

                          $('#myModal .modal-header').removeClass('hide');
                          $('#myModal h4').html(title);
                          $('#myModal .modal-body').html(htmlResponse);

                          $('#myModal').modal('show');
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            }
            
            
            $(document).on('submit', 'form.add_new_domaine', function () {
                var form = $(this);                
                traitementForm(form, "#EditBouteilleType_typeDomaine");
                return false;
            });
            
            $(document).on('submit', 'form.add_new_appellation', function () {
                var form = $(this);                
                traitementForm(form, "#EditBouteilleType_typeAppellation");
                return false;
            });
            
            $(document).on('submit', 'form.add_new_cuvee', function () {
                var form = $(this);                
                traitementForm(form, "#EditBouteilleType_typeCuvee");
                return false;
            });
            
            $(document).on('submit', 'form.add_new_region', function () {
                var form = $(this);                
                traitementForm(form, "#EditBouteilleType_typeRegion");
                return false;
            });
            
            $(document).on('submit', 'form.add_new_pays', function () {
                var form = $(this);                
                traitementForm(form, "#EditBouteilleType_typePays");
                return false;
            });
            
            function traitementForm(form, cibleSelect) {

                xhr = $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    dataType: "json",
                    success: function (jsonResponse)
                    {
                        if(jsonResponse.result){
                            $('#myModal').modal('hide');
                            $(cibleSelect).append('<option value='+jsonResponse.id+'>'+jsonResponse.name+'</option>');
                            $(cibleSelect).val(jsonResponse.id);
                        }else{
                            alert('erreur de soumission');
                        }
                    }
                });
            };
            
            
            
        });
    </script>
{% endblock %}

