{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Ma cave"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}ma-cave{% endblock %}

{% block header %}
    {% set titreH1 = "Ma cave"|trans %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}     
        <section class="cave-wrapper">
            {% include "AppBundle:Cave:_profil.html.twig" %}
            <div class="bottle-container wrapper">
            {% include "AppBundle:Cave:_toolbar.html.twig" with {'formFiltrerCave' : formFiltrerCave} %}
            {{ render(controller('AppBundle:Cave:liste', { filtre : 0 } )) }}
            </div>
        </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change','#ClasserCave_typeDeVin', function(){
               var form = $(this).closest("form");
               var valeur = $(this).val(); if(valeur == undefined || valeur == null || valeur == '') valeur = 0;      
               var url = form.attr('action').replace('/0', '/'+valeur);
               var target = "#listingBouteille";
               var data = form.serialize();
               var modalId = "#myModal";
               ajaxRefreshHTML(url, target, data, modalId); 
            });
        });
    </script>
{% endblock %}

