{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Changer mon mot de passe"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}modifier-profil{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% set titreH1 = "Changer mon mot de passe"|trans %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
     <div class="site-wrapper"> 
        <div class="row"> 
            <div class="wrapper main-wrapper">                        
                <div class="text-box padded" style="text-align:center;">
                    {% if app.session.get( '_locale' ) == 'en' %}
                        <p class="desc">You will receive a mail with a reminder of your password in the mailbox you have provided.</p>                     
                    {% else %}
                        <p class="desc">Vous allez recevoir un e-mail avec un rappel de votre mot de passe sur votre adresse e-mail.</p>                     
                    {% endif %}                    
                </div>                
            </div>
        </div>
    </div>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

