{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Partenaires"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}partenaires{% endblock %}

{% block header %}
    {% set titreH1 = "Partenaires"|trans %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="presse-wrapper wrapper">
	<ul>
            {% for partenaire in partenaires %}
            <li>
                <a href="{{partenaire.lien}}" target="_blank">
                    <div class="image-container" style="background-image: url('{% if partenaire.photo != null %}{{asset(partenaire.photo.file|imagine_filter('section_partenaire'))}}{% else %}{{asset('uploads/partenaire/partenaire_default.png')}}{% endif %}');"></div>
                    <h3 class="presse-name">{% if app.session.get( '_locale' ) == 'en' %}{{partenaire.titreUk}}{% else %}{{partenaire.titreFr}}{% endif %}</h3>
                    <time class="date-review" datetime=""></time>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

