{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Partenaires - {{ parent() }}{% endblock %}

{% block bodyclass %}partenaires{% endblock %}

{% block header %}
    {% set titreH1 = "Partenaires" %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="presse-wrapper wrapper">
	<ul>
            <li>
                <a href="http://www.troc-cadeaux.com/" target="_blank">
                    <div class="image-container" style="background-image: url('{{asset('img/partenaire-troc-cadeaux.jpg')}}');"></div>
                    <h3 class="presse-name">Troc cadeaux</h3>
                    <time class="date-review" datetime=""></time>
                </a>
            </li>
            <li>
                <a href="http://vinexplore.com/" target="_blank">
                    <div class="image-container" style="background-image: url('{{asset('img/partenaire-vinexplore.jpg')}}');"></div>
                    <h3 class="presse-name">Vinexplore</h3>
                    <time class="date-review" datetime=""></time>
                </a>
            </li>
        </ul>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

