{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Presse"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}presse{% endblock %}

{% block header %}
    {% set titreH1 = "Presse"|trans %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="presse-wrapper wrapper">
	<ul>
            {% for presse in presses %}
            <li>
                <a href="{{presse.lien}}" target="_blank">
                    <div class="image-container" style="background-image: url('{% if presse.photo != null %}{{asset(presse.photo.file|imagine_filter('section_presse'))}}{% else %}{{asset('uploads/presse/presse_default.png')}}{% endif %}');"></div>
                    <h3 class="presse-name">{% if app.session.get( '_locale' ) == 'en' %}{{presse.titreUk}}{% else %}{{presse.titreFr}}{% endif %}</h3>
                    <time class="date-review" datetime="{{presse.createdAt|date('Y-m-d')}}">{% if app.session.get( '_locale' ) == 'en' %}{{presse.createdAt|date('m / d / Y')}}{% else %}{{presse.createdAt|date('d / m / Y')}}{% endif %}</time>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

