{% set trocRdv = section.rdvTW %}
{% set rdv = trocRdv.addressTW %}
<div class="maps-wrapper section-rdv" data-lat="{{ rdv.latitude }}" data-long="{{ rdv.longitude }}" data-bigmap="{{ trocRdv.id }}">
    <div class="small-maps-wrapper display-address">        
            <div class="small-map-container selected">
                    <div class="small-map"
                         style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{ rdv.latitude }},{{ rdv.longitude }}&zoom=16&size=230x230&markers=color:red|{{ rdv.latitude }},{{ rdv.longitude }}')"
                         data-messageid="{{ rdv.id }}"
                         data-lng="{{ rdv.longitude }}"
                         data-lat="{{ rdv.latitude }}"
                         data-address="{{ rdv.street }} — {{ rdv.zipCode }} {{ rdv.city }}">

                            <i class="icon-magnifier"></i>
                 </div>

                    <div class="selected-text">
                            {{"Sélectionné par"|trans}}
                            <h3>{{ section.member.firstname }}</h3>
                    </div>
            </div>

            <span class="address-container">
                <span class="pourpre">{{"Adresse proposée par TrocWine :"|trans}}</span>
                    {{ rdv.name }}
                    {{ rdv.street }}
                    {{ rdv.zipCode }} {{ rdv.city }}
            </span>
    </div>    
    <div class="big-map-container">
            <div class="big-map" id="big-map-{{ trocRdv.id }}"></div>
            <em class="big-map-address big-map-address-{{ trocRdv.id }}">{{"Cliquez sur l'une des sélections pour plus d'informations."|trans}}</em>
    </div>
</div>