{% if message.memberA.id == user.id %}
{% set troqueur = message.memberB %}
{% set mesBouteilles = message.trocSections[0].contenu.trocABouteilles %}
{% set troqueurBouteilles = message.trocSections[0].contenu.trocBBouteilles %}
{% else %}
{% set troqueur = message.memberA %}
{% set mesBouteilles = message.trocSections[0].contenu.trocBBouteilles %}
{% set troqueurBouteilles = message.trocSections[0].contenu.trocABouteilles %}
{% endif %}
{% if clicable %}<a href="{{path('front_messagerie_gestion', {'id':message.id})}}">{% endif %}
<div class="header-message">
        {% if not clicable and not trocArchive %}<a href="{{path('front_troc_modifier', {'idTroc':troc.id})}}" title="{{"Voir la cave"|trans}}">{% endif %}
        <div class="image-person-container" style="background-image: url('{% if troqueur.avatar != null %}{{asset(troqueur.avatar.file)|imagine_filter('avatar_resize_messagerie')}}{% else %}{{asset('uploads/avatars/avatar_default.jpg')}}{% endif %}');"></div>
        {% if not clicable and not trocArchive %}</a>{% endif %}
        <div class="break">
                <h3>{{troqueur.lastname}}</h3>
                {% if app.session.get( '_locale' ) == 'en' %}
                    <span>( {{troqueur.expertLevel.nameUk}} )</span>
                {% else %}                    
                    <span>( {{troqueur.expertLevel.nameFr}} )</span>
                {% endif %}
        </div>    
        <div class="break">
                {% for item in troqueurBouteilles %}
                    {% if not clicable and not trocArchive %}<a href="{{path('front_bouteille_fiche_simple', {'id':item.bouteille.id})}}" title="{{"Voir la Fiche"|trans}}">{% endif %}
                        <span class="image-wine-container" style="background-image: url('{% if item.bouteille.photo != null %}{{asset(item.bouteille.photo.file)|imagine_filter('bouteille_resize_messagerie')}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}')">
                                <span class="dot-qte">{{item.quantite}}</span>
                        </span>
                    {% if not clicable and not trocArchive %}</a>{% endif %}
                {% endfor %}
                {#% if troqueurBouteilles|length > 3 %}
                <button class="btn-ops">...</button>
                {% endif %#}
        </div>
        <div class="break">
                <h3>Contre</h3>
                {% for item in mesBouteilles %}
                    {% if not clicable and not trocArchive %}<a href="{{path('front_bouteille_fiche_simple', {'id':item.bouteille.id})}}" title="{{"Voir la Fiche"|trans}}">{% endif %}
                        <span class="image-wine-container" style="background-image: url('{% if item.bouteille.photo != null %}{{asset(item.bouteille.photo.file)|imagine_filter('bouteille_resize_messagerie')}}{% else %}{{asset('uploads/bouteilles/bouteille_default.jpg')}}{% endif %}')">
                                <span class="dot-qte">{{item.quantite}}</span>
                        </span>
                    {% if not clicable and not trocArchive %}</a>{% endif %}
                {% endfor %}
                {% if mesBouteilles|length > 3 %}
                <button class="btn-ops">...</button>
                {% endif %}
        </div>
</div>
{% if clicable %}</a>{% endif %}
