{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Messagerie"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}troc-message{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% set titreH1 = "Messagerie"|trans %}
    {% set use_red_title = true %}
    
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set clicable = true %}
    {% if trocArchive %}{% set clicable = false %}{% endif %}    
    {{ parent() }}  
    <section class="message-wrapper container">
	<nav class="message-menu">
		<a href="{{path('front_messagerie')}}" class="{% if not trocArchive %}active{% endif %}">{{"Trocs en cours"|trans}}</a>
		<a href="{{path('front_messagerie_archives')}}" class="{% if trocArchive %}active{% endif %}">{{"Anciens trocs"|trans}}</a>
                <div class="clearfix"></div>
	</nav>
	<section class="message-container">
		<div class="top">
                    {% for message in messages %}
                        {% include 'AppBundle:Messages:_blocMessage.html.twig' with {'user' : user, 'message' : message, 'clicable' : clicable, 'trocArchive' : trocArchive} %}
                    {% endfor %}
		</div>
        </section>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {                        
            
            
        });
    </script>
    
{% endblock %}