{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Troc {% if trocArchive %}terminé{% else %}en cours{% endif %} - {{ parent() }}{% endblock %}

{% block bodyclass %}troc-message {% if trocArchive %}troc-archive{% else %}troc-en-cours{% endif %}{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% if trocArchive %}
        {% set titreH1 = "Troc terminé" %}
    {% else %}
        {% set titreH1 = "Troc en cours" %}
    {% endif %}
    
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}   
    <section class="message-wrapper container">
	<nav class="message-menu">
		<a href="{{path('front_messagerie')}}" class="{% if not trocArchive %}active{% endif %}">Trocs en cours</a>
		<a href="{{path('front_messagerie_archives')}}" class="{% if trocArchive %}active{% endif %}">Anciens trocs</a>
	</nav>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {                        
            
            
        });
    </script>
    
{% endblock %}