{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Troc {% if trocArchive %}terminé{% else %}en cours{% endif %} - {{ parent() }}{% endblock %}

{% block bodyclass %}troc-message {% if trocArchive %}troc-archive{% else %}troc-en-cours{% endif %}{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% if trocArchive %}
        {% set titreH1 = "Troc terminé" %}
    {% else %}
        {% set titreH1 = "Troc en cours" %}
    {% endif %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}


{% block topJavascripts %}
    {{ parent() }}    
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-BhyfIb3OOf2GzYFf8n3-3I_xRfBWKOk"></script>  #}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
    
{% block content %}
    {{ parent() }}   
    <section class="message-wrapper container">
	<nav class="message-menu">
		<a href="{{path('front_messagerie')}}" class="{% if not trocArchive %}active{% endif %}">Trocs en cours</a>
		<a href="{{path('front_messagerie_archives')}}" class="{% if trocArchive %}active{% endif %}">Anciens trocs</a>
                <div class="clearfix"></div>
	</nav>
	<section class="message-container">
		<div class="top">
                    <a href="{% if trocArchive %}{{path('front_messagerie_archives')}}{% else %}{{path('front_messagerie')}}{% endif %}" class="btn-default" style="width:100px;"><i class="icon-arrow-left"></i> Retour</a>                    
                        {% include 'AppBundle:Messages:_blocMessage.html.twig' with {'user' : user, 'message' : troc, 'clicable' : false} %}			                    
		</div>
		<section class="message-zone" role="main">
                        {% for section in troc.trocSections %}
                            {% if not loop.first %}
                                <article class="the-message-container">
                                {% if section.message != null %}
                                    {% include 'AppBundle:Messages:_blocSectionMessage.html.twig' with {'user' : user, 'section' : section} %}			                    
                                {% endif %}
                                {% if section.contenu != null %}
                                    {% include 'AppBundle:Messages:_blocSectionContenu.html.twig' with {'user' : user, 'section' : section} %}			                    
                                {% endif %}
                                {% if section.rdv != null %}
                                    {% include 'AppBundle:Messages:_blocSectionRDV.html.twig' with {'user' : user, 'section' : section} %}			                    
                                {% endif %}
                                {% if section.rdvTW != null %}
                                    {% include 'AppBundle:Messages:_blocSectionRDVTW.html.twig' with {'user' : user, 'section' : section} %}			                    
                                {% endif %}
                                </article>
                            {% endif %}
                        {% endfor %}
                  
                {# si troc encore en cours #}
                {% if not trocArchive %}                        
                        
                        <div class="troc-actions">
                            <div class="choix-actions">
                                <button id="bt-action-ecrire" class="btn-default"> Ecrire un message</button> <button id="bt-action-rdv" class="btn-default"> Donner rendez-vous</button> <form id="FormSelectionChoix" action="{{path('front_troc_modifier', {'idTroc':troc.id})}}" method="POST"><button id="bt-action-changer" class="btn-default"> Modifier le troc</button></form>
                            </div>
                            <div class="panel-actions">
                                <div class="panel-action-ecrire hidden">
                                    {% include 'AppBundle:Messages:_blocActionEcrire.html.twig' with {'formMessage' : formMessage} %}			                                                        
                                </div>
                                <div class="panel-action-rdv hidden">
                                    {% include 'AppBundle:Messages:_blocActionRDV.html.twig' with {'formRDV' : formRDV, 'formTrocTW' : formTrocTW, 'prochesVous':prochesVous, 'prochesLui':prochesLui, 'dansRegions':dansRegions} %}			                                                        
                                </div>
                            </div>
                        </div>
                                
                        <div class="troc-finalisation">
                            {% include 'AppBundle:Messages:_blocFinalisation.html.twig' with {'formFinTroc' : formFinTroc, 'user' : user, 'troc' : troc } %}			                                                                                    
                        </div>
                            
                {% endif %}
                            
		</section>
                
        </section>
    </section>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {                        
            $('#bt-action-ecrire').on('click', function(){
                $('.panel-action-ecrire').removeClass('hidden');
                $('.panel-action-rdv').addClass('hidden');  
                $('#TrocMessageType_message').focus();
            });                        
            $('#bt-action-rdv').on('click', function(){
                $('.panel-action-ecrire').addClass('hidden');   
                $('.panel-action-rdv').removeClass('hidden');
                initMap();
            });  
            
            $('.troc-finalisation').find('.btn-choice').on('click', function(event) {
                event.preventDefault();
                var parent = $(this).parent();
                parent.children().removeClass('active');
                $(this).toggleClass('active');
                parent.find('.hidden_field').val($(this).val());
            });
            
            $('#FormFinaliserTroc').on('submit', function(event){
                                
                var submitForm = true;        
                var selectedVal = 0;
                var selected = $("#ratingTroqueur input[type='radio']:checked");
                if (selected.length > 0) {
                    selectedVal = selected.val();
                }
                
                
        {% if user == troc.memberA %}     
                if($('#TrocAType_finishedA').val() == null){
                    submitForm = false;
                    alert('Vous devez indiquer si le troc a été effectué ou non.');
                }
                if(submitForm){
                    if($('#TrocAType_addToCaveA').val() == null){
                        submitForm = false;
                        alert('Vous devez indiquer si vous ajoutez la/les bouteille(s) dans votre cave.');
                    }
                }
                if(submitForm){
                    $('#TrocAType_noteB').val(selectedVal);
                    if(selectedVal == 0){
                        submitForm = false;
                        alert('Vous devez indiquer une note pour le troqueur.');
                    }
                }
        {% else %}
                if($('#TrocBType_finishedB').val() == null){
                    submitForm = false;
                    alert('Vous devez indiquer si le troc a été effectué ou non.');
                }
                if(submitForm){
                    if($('#TrocBType_addToCaveB').val() == null){
                        submitForm = false;
                        alert('Vous devez indiquer si vous ajoutez la/les bouteille(s) dans votre cave.');
                    }
                }
                if(submitForm){
                    $('#TrocBType_noteA').val(selectedVal);
                    if(selectedVal == 0){
                        submitForm = false;
                        alert('Vous devez indiquer une note pour le troqueur.');
                    }
                }
        {% endif %}
                
                return submitForm;
            });
        
        
            $('#VoirRdv').on('click', function(event){
                event.preventDefault();
                var geocoder = new google.maps.Geocoder();
                var address = ""+$('#AddressRdv_street').val()+", "+$('#AddressRdv_zipCode').val()+", "+$('#AddressRdv_city').val()+", "+$('#AddressRdv_country').val();//"1600 Amphitheatre Parkway, Mountain  View";
        
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                      map.setCenter(results[0].geometry.location);
                      var marker = new google.maps.Marker({
                          map: map,
                          position: results[0].geometry.location
                      });
                    } else {
                      alert("Geocode was not successful for the following reason: " + status);
                    }
                });
                
            });
            
            $('.select-address-tw select').on('change', function(event){
                event.preventDefault();
                if($(this).val() != ''){
                    var url = $('.select-address-tw').attr('data-get-address');
                    getAddressForMap(url, $(this).val());
                    $('#form_idaddresstw').val($(this).val());
                }
            });
            
            function actualiseBigCarte(latitude, longitude, mapId){
                
                var latLng = {lat: latitude, lng: longitude};

                map = new google.maps.Map(document.getElementById(mapId), {
                        center: latLng,
                        zoom: 16,
                        scrollwheel: false,
                        zoomControl: true,
                        zoomControlOptions: {
                                style: google.maps.ZoomControlStyle.LARGE
                        }
                });

                var marker = new google.maps.Marker({
                        position: latLng,
                        map: map
                });
                
            }
            
            $('.maps-wrapper.section-rdv').each(function(){
                initialiseBigCarte($(this).data('lat'),$(this).data('long'),$(this).data('bigmap'));                  
            });
            
        });
        
    </script>    
    
{% endblock %}