<section class="header-swapper">
	<div class="profile-light swapper-a-container">
		<div class="left">
			<div class="profile-image" style="background-image: url('{% if user.avatar != null %}{{asset(user.avatar.file)|imagine_filter('avatar_resize_header')}}{% else %}{{asset('uploads/avatars/avatar_default.jpg')}}{% endif %}');"></div>
			<h3>{{user.firstname}}</h3>
		</div>
		<div class="right">
			<span class="owner-level">{{user.expertLevel.nameFr}}</span>
			<div class="star-container">
				{% for i in range(1,5) %}
					{% if i <= user.note %}
						<i class="icon-star-static full-star"></i>
					{% else %}
						<i class="icon-star-static"></i>
					{% endif %}
                                {% endfor %}
			</div>
		</div>
	</div>
	<div class="btns-container">
            <form id="FormSelectionChoix" action="{% if swappersForUpdate is defined %}{{path('front_troc_update', {'idTroc':idTroc})}}{% else %}{{path('front_troc_proposer', {'idTroqueur':troqueur.id})}}{% endif %}" method="POST">
                <input id="TroquerSelectionChoixMaCave" type="hidden" name="selectionMaCave" value="">
                <input id="TroquerSelectionChoixSaCave" type="hidden" name="selectionSaCave" value="">
                <button id="btTroquerSelection" class="btn-default btn-swap">{% if swappersForUpdate is defined %}Modifier le troc{% else %}Proposer un troc{% endif %}</button>
            </form>				
                <button id="btTroquerAnnuler" onClick="history.back(); return false;" class="btn-default btn-cancel">{% if swappersForUpdate is defined %}Annuler{% else %}Annuler le troc{% endif %}</button>
	</div>
	<div class="profile-light swapper-b-container">
		<div class="left">
			<div class="profile-image" style="background-image: url('{% if troqueur.avatar != null %}{{asset(troqueur.avatar.file)|imagine_filter('avatar_resize_header')}}{% else %}{{asset('uploads/avatars/avatar_default.jpg')}}{% endif %}');"></div>
			<h3>{{troqueur.firstname}}</h3>
		</div>
		<div class="right">
			<span class="owner-level">{{troqueur.expertLevel.nameFr}}</span>
			<div class="star-container">
				{% for i in range(1,5) %}
					{% if i <= troqueur.note %}
						<i class="icon-star-static full-star"></i>
					{% else %}
						<i class="icon-star-static"></i>
					{% endif %}
                                {% endfor %}
			</div>
		</div>
	</div>
</section>
