<div class="header-owner-info wrapper">
	<div class="span-left">
		<a href="#link-back" class="btn-default"><i class="icon-arrow-left"></i> Retour</a>
	</div>
	<div class="profile-light span-center">
		<div class="left">
			<div class="profile-image" style="background-image: url('{% if bouteille.member.avatar != null %}{{asset(bouteille.member.avatar.file)}}{% else %}{{asset('uploads/avatars/avatar_default.jpg')}}{% endif %}');"></div>
			<h3>{{bouteille.member.lastname}}<br>{{bouteille.member.firstname}}</h3>
		</div>
		<div class="right">
			<span class="owner-level">{{bouteille.member.expertLevel.nameFr}}</span>
			<div class="star-container">
                                {% for i in range(1,5) %}
					{% if i <= bouteille.member.note %}
						<i class="icon-star-static full-star"></i>
					{% else %}
						<i class="icon-star-static"></i>
					{% endif %}
                                {% endfor %}
			</div>
		</div>
	</div>
	<div class="span-right">            
            <form id="FormSelectionChoix" action="{{path('front_initialise_echange')}}" method="POST">
                <input id="TroquerSelectionChoix" type="hidden" name="selection" value="">
                <button id="btTroquerSelection" class="btn-default"  name="valider">Troquer ma sélection</button>
            </form>
	</div>
</div>