<footer class="footer">
    <div class="footer-top wrapper">
        <ul class="link-container">
            <li><a href="{{path('front_notre_histoire')}}" class="{{ app.request.attributes.get('_route') == 'front_notre_histoire' ? 'active' }}">Notre histoire</a></li>
            <li><a href="{{path('front_contact')}}" class="{{ app.request.attributes.get('_route') == 'front_contact' ? 'active' }}">Contact</a></li>
        </ul>

        <ul class="link-container">
            <li><a href="{{path('front_partenaires')}}" class="{{ app.request.attributes.get('_route') == 'front_partenaires' ? 'active' }}">Partenaires</a></li>
            <li><a href="{{path('front_presse')}}" class="{{ app.request.attributes.get('_route') == 'front_presse' ? 'active' }}">Presse</a></li>
        </ul>

        <ul class="link-container">
            <li>
                <a href="#">Plan du site</a>
                <ul>
                    <li><a href="{{path('front_accueil')}}">Home</a></li>
                    {% if is_granted('ROLE_USER') %}
                    <li><a href="{{path('front_ma_cave')}}" class="{{ app.request.attributes.get('_route') == 'front_mon_espace' ? 'active' }}">Mon espace</a></li>
                    {% else %}
                    <li><a href="#" onClick="showLogin(); return false;" class="{{ app.request.attributes.get('_route') == 'front_mon_espace' ? 'active' }}">Mon espace</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        <div class="social-container">
            <div class="container">
                <a href="https://twitter.com/trocwine" target="_blank" title="TrocWine sur Twitter"><i class="twitter-icon"></i></a>
                <a href="https://instagram.com/trocwine/" target="_blank" title="TrocWine sur Instagram"><i class="instagram-icon"></i></a>
                <a href="https://www.facebook.com/trocwine" target="_blank" title="TrocWine sur Facebook"><i class="facebook-icon"></i></a>
                <a href="http://trocwine.tumblr.com/" target="_blank" title="TrocWine sur Tumblr"><i class="tumblr-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom wrapper">
        <div class="left">
            <span>L'abus d'alcool est dangereux pour la santé, à consommer avec modération</span>
        </div>
        <div class="right">
            <a href="{{path('front_mentions_legales')}}" class="{{ app.request.attributes.get('_route') == 'front_mentions_legales' ? 'active' }}">Mentions légales</a> -
            <a href="{{path('front_politique_de_cookies')}}" class="{{ app.request.attributes.get('_route') == 'front_politique_de_cookies' ? 'active' }}">Politique de Cookies</a> -
            <a href="{{path('front_notre_histoire')}}" class="{{ app.request.attributes.get('_route') == 'front_notre_histoire' ? 'active' }}">TrocWine®</a>
        </div>
    </div>
</footer> 
