<header class="home-header {% if is_granted('ROLE_USER') %} connected{% endif %}">
    {% include "AppBundle:Interface:_header_mobile.html.twig" %}
    <ul class="bxslider">
        <li>
            <span style="background-image: url('{{asset('img/slide-01.jpg')}}');" alt="Echange de bouteilles de vin"></span>
        </li>
        {#
        <li>
            <span style="background-image: url('{{asset('img/slide-2.jpg')}}');" alt="Plan sur une bouteille"></span>
        </li>
        <li>
            <span style="background-image: url('{{asset('img/slide-3.jpg')}}');" alt="Photo d'une bouteille et d'un verre de vin avec des monts en arrière-plan"></span>
        </li>
        #}
    </ul>
    <div class="top-header wrapper">
        <nav class="home-header-nav">
            {% if is_granted('ROLE_USER') %}
                <a href="{{path('front_mode_emploi')}}" class="{{ app.request.attributes.get('_route') == 'front_mode_emploi' ? 'active' }}" title="{{ "Une Question ?"|trans }}"><i class="icon-question-mark {{ app.request.attributes.get('_route') == 'front_mode_emploi' ? 'active' }}"></i></a>
                <a href="{{path('front_ma_cave')}}" class="{{ app.request.attributes.get('_route') == 'front_ma_cave' ? 'active' }}" title="{{ "Ma Cave"|trans }}"><i class="icon-cave {{ app.request.attributes.get('_route') == 'front_ma_cave' ? 'active' }}"></i></a>                                            
                <a href="{{path('front_messagerie')}}" class="" title="{{ "Messages"|trans }}"><i class="icon-message "></i></a>
                <a href="{{path('front_ma_cave_ajouter')}}" class="{{ app.request.attributes.get('_route') == 'front_ma_cave_ajouter' ? 'active' }}" title="{{ "Ajouter une bouteille"|trans }}"><i class="icon-add-bottle {{ app.request.attributes.get('_route') == 'front_ma_cave_ajouter' ? 'active' }}"></i></a>                                        
                <a href="{{path('logout')}}" class=""><i class="icon-deconnexion"></i></a>
            {% else %}
                <a href="{{path('front_inscription')}}" class="{{ app.request.attributes.get('_route') == 'front_inscription' ? 'active' }}">{{ "Inscription"|trans }}</a>
                <a href="#" onClick="showLogin(); return false;" class="{{ app.request.attributes.get('_route') == 'login' ? 'active' }}">{{ "Connexion"|trans }}</a>
                <a href="{{path('front_mode_emploi')}}" class="{{ app.request.attributes.get('_route') == 'front_mode_emploi' ? 'active' }}">{{ "Mode d'emploi"|trans }}</a> 
            {% endif %}
            {% include "AppBundle:Interface:_langue_selector.html.twig" %}
        </nav>

        {% if app.session.get( '_locale' ) == 'en' %}
        <div class="logo-container">
            <p class="greetings-title">Welcome
                    on</p>
            <h1><a href="{{path('front_accueil')}}" title="Accueil" class="full-logo-white">TrocWine</a></h1>
            <h2>Build your cellar without spending a dime.</h2>
        </div>
        {% else %}
        <div class="logo-container">
            <p class="greetings-title">Bienvenue
                    sur</p>
            <h1><a href="{{path('front_accueil')}}" title="Accueil" class="full-logo-white">TrocWine</a></h1>
            <h2>Constituez votre cave sans dépenser un centime.</h2>
        </div>
        {% endif %}
    </div>
</header>
        