<div class="search-selector search-bar-toggle-enabled">
        <a href="#" class="btn-search-bottle {% if panelOpen is defined  and panelOpen == 'bouteille' %}active{% endif %}"><i class="icon-bt"></i>Rechercher une bouteille</a>
        <a href="#" class="btn-search-swapper {% if panelOpen is defined  and panelOpen == 'troqueur'  %}active{% endif %}"><i class="icon-rq"></i>Rechercher un troqueur</a>
</div>
<div class="search-wrapper search-bar-toggle">
    <section class="search-container container static-search" data-default="{% if panelOpen is defined  and panelOpen == 'bouteille' %}bottle{% endif %}{% if panelOpen is defined  and panelOpen == 'troqueur' %}swapper{% endif %}">
        {{ form_start(formBouteille, {'attr': {'class': 'form-bottle-search', 'id':'FormSelectorSearchBottle'} }) }}
            {% if panelOpen is defined  and panelOpen == 'bouteille' and filtres['keyword'] is defined %}
                {{ form_widget(formBouteille.keyword, { 'label': false,'class': '', 'attr': {'class': 'keyword'}, 'value' : ""~filtres['keyword'] }) }} 
            {% else %}
                {{ form_widget(formBouteille.keyword, { 'label': false,'class': '', 'attr': {'class': 'keyword'} }) }} 
            {% endif %}            
            <div class="select-swagg-container">
                <div class="select-swagg">
                    {% if panelOpen is defined  and panelOpen == 'bouteille' and filtres['typeDeVin'] is defined %}
                        {{ form_widget(formBouteille.typeDeVin, { 'label': false,'class': '', 'attr': {'class': ''}, 'value' : ""~filtres['typeDeVin'] }) }} 
                    {% else %}
                        {{ form_widget(formBouteille.typeDeVin, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                    {% endif %}
                </div>
                <div class="select-swagg">
                    {% if panelOpen is defined  and panelOpen == 'bouteille' and filtres['typeRegion'] is defined %}
                        {{ form_widget(formBouteille.typeRegion, { 'label': false,'class': '', 'attr': {'class': ''}, 'value' : ""~filtres['typeRegion'] }) }} 
                    {% else %}
                        {{ form_widget(formBouteille.typeRegion, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                    {% endif %}
                </div>
                <div class="select-swagg">
                    {% if panelOpen is defined  and panelOpen == 'bouteille' and filtres['millesime'] is defined %}
                        {{ form_widget(formBouteille.millesime, { 'label': false,'class': '', 'attr': {'class': ''}, 'value' : ""~filtres['millesime'] }) }} 
                    {% else %}
                        {{ form_widget(formBouteille.millesime, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                    {% endif %}
                </div>
                <div class="select-swagg">
                    {% if panelOpen is defined  and panelOpen == 'bouteille' and filtres['typePays'] is defined %}
                        {{ form_widget(formBouteille.typePays, { 'label': false,'class': '', 'attr': {'class': ''}, 'value' : ""~filtres['typePays'] }) }} 
                    {% else %}
                        {{ form_widget(formBouteille.typePays, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                    {% endif %}
                </div>
            </div>
                <input type="hidden" id="SearchBouteille_filtrageBottle" name="SearchBouteille[filtrageBottle]" value="">
                {% if filtres['typeRegionAExclure'] is defined %}
                <input type="hidden" id="SearchBouteille_typeRegionAExclure" name="SearchBouteille[typeRegionAExclure]" value="{{filtres['typeRegionAExclure']}}">
                {% endif %}
        {{ form_end(formBouteille) }}
        {{ form_start(formTroqueur, {'attr': {'class': 'form-swapper-search', 'id':'FormSelectorSearchTroqueur'} }) }}            
            {% if panelOpen is defined  and panelOpen == 'troqueur' and filtres['keyword'] is defined %}
                {{ form_widget(formTroqueur.keyword, { 'label': false,'class': '', 'attr': {'class': 'keyword'}, 'value' : ""~filtres['keyword'] }) }} 
            {% else %}
                {{ form_widget(formTroqueur.keyword, { 'label': false,'class': '', 'attr': {'class': 'keyword'} }) }} 
            {% endif %}
            <div class="select-swagg-container">
                <div class="select-swagg">
                    {% if panelOpen is defined  and panelOpen == 'troqueur' and filtres['expertLevel'] is defined %}
                        {{ form_widget(formTroqueur.expertLevel, { 'label': false,'class': '', 'attr': {'class': ''}, 'value' : ""~filtres['expertLevel'] }) }} 
                    {% else %}
                        {{ form_widget(formTroqueur.expertLevel, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                    {% endif %}
                </div>
                <div class="select-swagg">
                    {% if panelOpen is defined  and panelOpen == 'troqueur' and filtres['region'] is defined %}
                        {{ form_widget(formTroqueur.region, { 'label': false,'class': '', 'attr': {'class': ''}, 'value' : ""~filtres['region'] }) }} 
                    {% else %}
                        {{ form_widget(formTroqueur.region, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                    {% endif %}
                </div>
            </div>
                <input type="hidden" id="SearchTroqueur_filtrageTroqueur" name="SearchTroqueur[filtrageTroqueur]" value="">                
        {{ form_end(formTroqueur) }}
    </section>
</div>