{% extends "BackOfficeBundle::layout.html.twig" %}

{% block bodyclass %}partenaires{% endblock %}

{% form_theme edit_form with ['bootstrap_3_layout.html.twig', _self] %}

{% block content %}

    {% include "BackOfficeBundle:Partenaire:_type_contenu.html.twig" %}

    {% include "BackOfficeBundle:Partenaire:_back_liste.html.twig" %}
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default col-lg-6">
                    {{ form_start(edit_form) }}
                    
                    <div class="row">
                        <div class="upload-image-container">
                                <div class="partenaire-image partenaire-image-edit" {% if entity.photo != null %}style="background-image: url('{% if entity.photo != null %}{{asset(entity.photo.file)}}{% else %}{{asset('uploads/partenaire/partenaire_default.png')}}{% endif %}');"{% endif %}></div>
                                <div class="input-hidden">
                                        <input type="file" name="photo_image" id="file_picker" data-class-dest="partenaire-image"/>
                                        {{ form_widget(edit_form.photo, { 'label': false,'class': 'hidden', 'attr': {'class': 'hidden'} }) }}
                                </div>
                        </div>
                    </div>


                    <div class="row">
                    {{ form_row(edit_form.titreFr, { 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                    <div class="row">
                    {{ form_row(edit_form.titreUk, { 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                    <div class="row">
                    {{ form_row(form.position, { 'attr' : { 'class' : '' } }) }}
                    </div>
                    <div class="row">
                    {{ form_row(form.lien, { 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                    <div class="row">
                    {{ form_row(edit_form.actif, { 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                    <div class="row">
                    {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn submit btn-primary col-lg-6'} }) }}
                    </div>
                    {{ form_end(edit_form) }}
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
       
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}

    <script>
    $(document).ready(function() {
        
    });
    </script>
{% endblock %}