{% extends "BackOfficeBundle::layout.html.twig" %}

{% block bodyclass %}partenaires{% endblock %}

{% block content %}

    {% include "BackOfficeBundle:Partenaire:_type_contenu.html.twig" %}
    
    <div class="row">
        <div class="col-lg-12"><p><a href="{{path('back_office_partenaire_new')}}" class="btn btn-primary btn-lg" role="button">Ajouter un bloc partenaire</a></p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Choisir un bloc partenaire à éditer
                </div>
                <!-- /.panel-heading -->
                
                <div class="panel-heading partenaire-active">
                    Blocs partenaires actifs
                </div>
                <!-- /.panel-heading -->
                <div class="bloc-partenaire-wrapper">
                    {% set separatorActif = true %}
                    {% for partenaire in partenaires %}
                        {% if separatorActif == true and partenaire.actif == 0 %}
                            {% set separatorActif = false %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-heading partenaire-inactive">
                            Blocs partenaires inactifs
                        </div>
                        <!-- /.panel-heading -->
                        {% endif %}
                        <div class="bloc-partenaire">
                            <span class="etiquette">{{partenaire.position}}</span>
                            <span class="etiquetteNom">{{partenaire.titreFr}}</span>
                            <div class="partenaire-image mini" style="background-image: url('{% if partenaire.photo != null %}{{asset(partenaire.photo.file|imagine_filter('section_partenaire'))}}{% else %}{{asset('uploads/partenaire/partenaire_default.png')}}{% endif %}');"></div>
                            <a class="btn btn-primary btn-edit btn-xs" href="{{path('back_office_partenaire_edit',{'id':partenaire.id})}}"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                            <a class="btn {% if partenaire.actif == 0 %}btn-success{% else %}btn-danger{% endif %} btn-active btn-xs" href="{{path('back_office_partenaire_active',{'id':partenaire.id})}}">{% if partenaire.actif == 0 %}<i class="fa fa-check fa-fw"></i> Activer{% else %}<i class="fa fa-times fa-fw"></i> Désactiver{% endif %}</a>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}

    <script>
    $(document).ready(function() {
        
    });
    </script>
{% endblock %}