{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{"Inscription"|trans}} - {{ parent() }}{% endblock %}

{% block bodyclass %}inscription{% endblock %}

{% block header %}
    {% set withoutSearchSelector = true %}
    {% set titreH1 = "Inscription"|trans %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    
    <section class="subscribe-wrapper wrapper">
        {{ form_start(form, {'attr': {'class': 'subscribe-form'} }) }}	
		<div class="profile-image-container">
			<div class="profile-image" style="background-image: url({{asset('uploads/avatars/avatar_default.jpg')}});"></div>
			<a href="#" class="upload-btn">{{"Modifier"|trans}}</a>
			<div class="input-hidden">
				<input type="file" name="profile_picture" id="file_picker" data-class-dest="profile-image" />                                
                                {{ form_widget(form.avatar, { 'label': false,'class': 'hidden', 'attr': {'class': 'hidden'} }) }}
			</div>
		</div>
		<div class="subscribe-inputs-container">
			<!-- Mettre les erreurs retournées ici -->
			<div class="error-message">{{ form_errors(form) }}</div>
			<div class="top-subscribe-form">
				<div class="left">
					{{ form_widget(form.login, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                                        {{ form_errors(form.login) }}
                                        <div class="container">
                                            <div class="col-6">
                                                {{ form_label(form.password.pass) }}
                                                {{ form_widget(form.password.pass) }}
                                                {{ form_errors(form.password.pass) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_label(form.password.confirm) }}
                                                {{ form_widget(form.password.confirm) }}
                                                {{ form_errors(form.password.confirm) }}
                                            </div>
                                        </div>
					{{ form_widget(form.lastname, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                        {{ form_errors(form.lastname) }}
					{{ form_widget(form.firstname, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                        {{ form_errors(form.firstname) }}
				</div>
				<div class="right">
					<div class="select-swagg">
						{{ form_widget(form.expertLevel, { 'label': false,'class': 'p-right', 'attr': {'class': ''} }) }} 
                                                {{ form_errors(form.expertLevel) }}
					</div>
					<div class="container">
						<div class="col-6">
							{#{{ form_widget(form.birthdate, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                                        {{ form_errors(form.birthdate) }}
                                                        #}
                                                        <div class="form-group-wrapper date">
                                                            <div class="form-group">
                                                                <div class="input-group date">
                                                                    {{ form_widget(form.birthdate) }}
                                                                    <div class="input-group-addon"><i class="icon-calendar glyphicon glyphicon-calendar"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.birthdate) }}
                                                        {{ form_widget(form.email, { 'label': false,'class': '', 'attr': {'class': ''} }) }}
                                                        {{ form_errors(form.email) }}
						</div>
						<div class="col-6">
							{{ form_widget(form.telephon, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                                                        {{ form_errors(form.telephon) }}
                                                        {{ form_widget(form.mobile, { 'label': false,'class': '', 'attr': {'class': ''} }) }} 
                                                        {{ form_errors(form.mobile) }}
						</div>
					</div>
				</div>
			</div>
			<div class="address-form">
				<p class="address-title">{{"Adresse"|trans}} : <span class="smaller">
                                    {% if app.session.get( '_locale' ) == 'en' %}
                                        (This address will never be transmit to other persons. Your address will only be usefull for us to propose a meeting place for your swaps.)
                                    {% else %}
                                        (Cette adresse ne sera jamais divulguée à une tierce personne. Votre adresse nous sera utile pour vous donner un lieu de rendez-vous en cas de troc.)
                                    {% endif %}
                                    </span></p>				
				{{ form_widget(form.address.street, { 'label': false, 'class': '', 'attr': {'class': 'col-12'} }) }}
                                <div class="container">
                                    {{ form_widget(form.address.zipCode, { 'label': false, 'class': '', 'attr': {'class': 'col-3'} }) }}
                                    {{ form_widget(form.address.city, { 'label': false, 'class': '', 'attr': {'class': 'col-9'} }) }}
				</div>
                                <div class="container">
                                    {{ form_widget(form.address.departement, { 'label': false, 'class': '', 'attr': {'class': 'col-3'} }) }}
                                    {{ form_widget(form.address.region, { 'label': false, 'class': '', 'attr': {'class': 'col-6'} }) }}
                                    {{ form_widget(form.address.country, { 'label': false, 'class': '', 'attr': {'class': 'col-3'} }) }}
				</div>
                                {{ form_errors(form.address) }}
			</div>
			{{ form_widget(form.submit, { 'attr': {'class': 'col-12 btn-default'} }) }}
			<p class="smaller">{{"*Champs obligatoires"|trans}}</p>
		</div>
	{{ form_end(form) }}
    </section>
    
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            
            $('#RegisterMember_submit').on('submit', function(){
                /*var isOk = true;
                $('input[type=file][max-size]').each(function(){
                    if(typeof this.files[0] !== 'undefined'){
                        var maxSize = parseInt($(this).attr('max-size'),10),
                        size = this.files[0].fileSize;
                        isOk = maxSize > size;
                        
                        if(!isOk){
                            alert('Votre image est trop grosse. Elle doit faire moins de 2Mo');
                        }
                        
                        return isOk;
                    }
                });
                return isOk;
                */
        
            });

        });
    </script>
{% endblock %}

